<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CESCO.IoT.AirPurifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="AirPurifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Transport" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.4.0" newVersion="0.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Codecs.Mqtt" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.4.0" newVersion="0.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Common" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.4.0" newVersion="0.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Buffers" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.4.0" newVersion="0.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Handlers" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.4.0" newVersion="0.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PCLCrypto" publicKeyToken="d4421c8a4786956c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CESCO.IoT.AirPurifier.Properties.Settings>
      <setting name="InstanceCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServiceURL" serializeAs="String">
        <value />
      </setting>
      <setting name="IoTHubConnectionString" serializeAs="String">
        <value>HostName=CESCOIotHubDev.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=tHQYVaX4jfHwQobLDkjBqJzfk0bPsZ6Qt6T2e9JDfWA=</value>
      </setting>
    </CESCO.IoT.AirPurifier.Properties.Settings>
    <AirPurifier.Properties.Settings>
      <setting name="InstanceCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ServiceURL" serializeAs="String">
        <value />
      </setting>
      <setting name="IoTHubConnectionString" serializeAs="String">
        <value>HostName=CESCOIoTHub2.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=Gm+lpgsyBYVHTVrvfoYCAQQ0AvJtOrFVc+uAmHm47ww=
</value>
      </setting>
    </AirPurifier.Properties.Settings>
  </applicationSettings>
</configuration>